body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f38181;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__logo a{
    text-decoration: none;
    color: #fff;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__subtitle {
    margin-bottom: 20px;
    margin-top: 15%;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}


/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}



/* Slider */
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}



p{
    color:brown;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    border-color: black;
    border-style: solid;
    margin-top: 15%;
    margin-right:20%;
    font-size: 40px;
    margin-left: 20%;
    height: auto;
    width: auto;
    box-shadow: rgb(129, 18, 79) 7px 7px 7px 7px;
    opacity: 0.7;
    text-transform: uppercase;

}
p:hover{

    opacity: 1;

}




/*Form*/

 iframe{
     text-align: right;
     margin-top: 0;
     margin-right: 20%;
     margin-left:50%;
     position: fixed;
     height: 400px;
     border-radius: 15px;
 }
 input, select, textarea, option {
     background-color: #fff;
     box-sizing: border-box;
     text-align: center;
     border-radius: 10px;

 }
 .submit{
     background-color: #f38181;
     display: inline-block;
     border: 3px solid #fff;
     font-size: 14px;
     font-weight: 700;
     color: #fff;
     text-transform: uppercase;
     text-decoration: none;
 }
 .submit:hover {
     background-color: #fff;
     color: #333;
     cursor: pointer;
 }
 .contact{
     box-sizing: border-box;
     border-color: black;
     margin-top: 15%;
 }
 textarea{
     height:200px;
 }



#content{
    width: 100%;
    min-height: 0px;
  /*  background-color: #fff024;*/
    float: left;
    color: black;
    margin-top: 120px;

  }

  div.gallery {

    margin-left: 100px;
    float: center;

    color: white;
  }

  div.gallery img {
    width: 70%;
    height: 70%;
    text-align: center;
  }
  #img1:hover ,#img2:hover,#img3:hover {
      opacity: 0.5;
  }
  div.gallery img{
      opacity: 1.0;
     border-radius: 15px;
  }
  table{
      justify-content: center;
      text-align: center;
      margin-right: 7%;
  }


.regForm{

    align-items: center;
    text-align: center;
    margin-top: 20%;
    border-width: 2px;
    border-color: #333;
    border-image: auto;
    border-style: solid;
    box-sizing: border-box;
}
.contactForm{
    margin-left: 30%;
}
